.footer {
    background-color: #000;
    color: #fff;
    height: 70vh;
}

.footer .footer__content {
    background-color: hsl(257, 27%, 26%);
    background-image: url("/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__title {
    font-size: 1.5rem;
    font-weight: 700;
}

.footer__end {
    background-color: #000;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__text {
    margin: 1rem 0;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(4, 1fr);
}

.footer__subtitle {
    font-weight: 700;
    font-size: 1rem;
}

.footer__a {
    color: var(--clr-normal-gray);
}

.footer__a:hover {
    color: var(--clr-cyan);
}

.footer__social {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__icon {
    width: 50px;
    height: 50px;
    margin: 1rem 0;
    background-image: url("/images/icon-facebook.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer__icon:nth-child(2) {
    background-image: url("/images/icon-twitter.svg");
}

.footer__icon:nth-child(3) {
    background-image: url("/images/icon-pinterest.svg");
}

.footer__icon:nth-child(4) {
    background-image: url("/images/icon-instagram.svg");
}

.footer__icon:hover {
    color: var(--clr-cyan);
}

@media (width >=768px) {
    .footer__end {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__end__content {
        margin: 1rem 0;
        display: grid;
        align-items: start;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__text {
        text-align: start;
    }

    .footer__subtitle{
        margin-bottom: 1rem;
    }

}