:root{
    --clr-white: #fff;
    --clr-black: #000;
    --clr-cyan: hsl(180, 66%, 49%);
    --clr-light-cyan: hsl(180, 83%, 66%);
    --clr-dark-violet: hsl(257, 27%, 26%);
    --clr-red: hsl(0, 87%, 67%);
    --clr-light-gray: hsl(0, 0%, 75%);
    --clr-normal-gray:hsl(0, 0%, 50%);
    --clr-grayish-violet: hsl(257, 7%, 63%);
    --clr-very-dark-blue: hsl(255, 11%, 22%);
    --clr-very-dark-violet: hsl(260, 8%, 14%);
    --font-family: "Poppins", sans-serif;
}